.hero-img{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
}

.typed-text {
    color: rgb(248,217,15); /* Change this to the desired color */
  }  

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img::before{
    content:"";
    background: url("https://media.istockphoto.com/id/1483363328/vector/green-hacker-interface-screen-code-window-with-keyboard-and-high-tech-ui-vector-hud.webp?s=2048x2048&w=is&k=20&c=qqtewIM8aA5iCoZV-inkThpRXIINDnqoioEfwugDxg0=");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img h1{
    font-size: 2.4rem;
}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}